language: c

sudo: false

os:
  - linux
  - osx
  - windows

env:
  matrix:
    - PYTHON_VERSION=3.6 CHANNEL='glueviz' PACKAGES='glueviz>=1.0 glue-wwt glue-astronomy glue-medical glue-geospatial'
    - PYTHON_VERSION=3.7 CHANNEL='glueviz' PACKAGES='glueviz>=1.0 glue-wwt glue-astronomy glue-geospatial'
    - PYTHON_VERSION=3.8 CHANNEL='glueviz' PACKAGES='glueviz>=1.0 glue-wwt glue-astronomy'
    - PYTHON_VERSION=3.6 CHANNEL='glueviz/label/dev' PACKAGES='glueviz>=0.999 glue-wwt glue-astronomy glue-medical glue-geospatial'
    - PYTHON_VERSION=3.7 CHANNEL='glueviz/label/dev' PACKAGES='glueviz>=0.999 glue-wwt glue-astronomy glue-geospatial'
    - PYTHON_VERSION=3.8 CHANNEL='glueviz/label/dev' PACKAGES='glueviz>=0.999 glue-wwt glue-astronomy'
    - PYTHON_VERSION=3.6 CHANNEL='conda-forge' PACKAGES='glueviz>=1.0 glue-geospatial'
    - PYTHON_VERSION=3.7 CHANNEL='conda-forge' PACKAGES='glueviz>=1.0 glue-geospatial'
    - PYTHON_VERSION=3.8 CHANNEL='conda-forge' PACKAGES='glueviz>=1.0 glue-geospatial'

  global:
    - MAMBA=True

before_install:
  - git clone git://github.com/astropy/ci-helpers.git
  - source ci-helpers/travis/setup_conda.sh
  - conda activate base

script:
  - mamba create -n test-mamba -c $CHANNEL python=$PYTHON_VERSION $PACKAGES
  - conda create -n test--conda -c $CHANNEL python=$PYTHON_VERSION $PACKAGES
