language: c

sudo: false

os:
  - linux
  - osx
  - windows

env:
  matrix:
    - PYTHON_VERSION=3.8 CHANNEL='glueviz/label/dev' PACKAGES='glueviz>=0.999 glue-wwt'

  global:
    - MAMBA=True

before_install:
  - git clone git://github.com/astropy/ci-helpers.git
  - source ci-helpers/travis/setup_conda.sh
  - conda activate base

script:
  - mamba create -n test-pywwt -c $CHANNEL python=$PYTHON_VERSION "pywwt>=0.6"
  - mamba create -n test-mamba -c $CHANNEL python=$PYTHON_VERSION $PACKAGES
  - conda create -n test--conda -c $CHANNEL python=$PYTHON_VERSION $PACKAGES
